<nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand h1" routerLink="/">eMart</a>

        <form class="form-inline">
            <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a *ngIf="!isSignin" class="nav-link" routerLink="/login">Sign in</a>
                <a *ngIf="isSignin" class="nav-link" routerLink (click)="signOut()">Sign out</a>
            </li>
            <li class="nav-item" ngbDropdown>
                <a (click)="false" *ngIf="!isSignin" class="nav-link" href ngbDropdownToggle>Sign
                    up</a>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem routerLink="/signup/buyer">Buyer</button>
                    <button ngbDropdownItem routerLink="/signup/seller">Seller</button>
                </div>
            </li>
            <li class="nav-item" ngbDropdown>
                <a (click)="false" class="nav-link" href ngbDropdownToggle>{{username}}</a>
                <div ngbDropdownMenu>
                    <a ngbDropdownItem routerLink="/order">My orders</a>
                    <button ngbDropdownItem routerLink="/item-adding">Add item</button>
                    <button ngbDropdownItem routerLink="/inventory">View inventory</button>
                    <button ngbDropdownItem routerLink="/report">Report</button>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cart">Cart</a>
            </li>
        </ul>

    </div>
</nav>
