<div class="container mb-3">

    <!-- Outer -->
    <div class="row h-100 mx-4 p-4">
        <div class="col-sm-12">

            <!-- Title -->
            <div class="row mb-3">
                <div class="col-sm-12 d-sm-flex h3 justify-content-sm-center">
                    Add item
                </div>
            </div>

            <!-- Body -->
            <div class="row mb-5">

                <!-- Middle Body -->
                <div class="col-sm-12">
                    <!-- Fields -->
                    <div class="row">

                        <!-- Left side -->
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm d-sm-flex flex-sm-column">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="my-3" for="size" style="min-height: 30px">Size:</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="my-3" id="size" placeholder="Size" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="my-3" for="weight" style="min-height: 30px">Weight:</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="my-3" id="weight" placeholder="Weight" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="my-3" for="screen-res" style="min-height: 30px">
                                                Screen Resolution:
                                            </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="my-3" id="screen-res" placeholder="Screen Resolution"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="my-3" for="security" style="min-height: 30px">
                                                Security:
                                            </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="my-3" id="security" placeholder="Security" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-1"></div>

                        <!-- Right side -->
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm d-sm-flex flex-sm-column">
                                    <div class="row">
                                        <div class="col-sm">
                                            <label class="my-3" for="camera" style="min-height: 30px">Camera:</label>
                                        </div>
                                        <div class="col-sm">
                                            <input class="my-3" id="camera" placeholder="Camera" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <label class="my-3" for="os-ver" style="min-height: 30px">OS
                                                Version:</label>
                                        </div>
                                        <div class="col-sm">
                                            <input class="my-3" id="os-ver" placeholder="OS Version" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <label class="my-3" for="network" style="min-height: 30px">Network
                                                Type</label>
                                        </div>
                                        <div class="col-sm">
                                            <input class="my-3" id="network" placeholder="Network Type" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <label class="my-3" for="battery" style="min-height: 30px">Battery
                                                Collection:</label>
                                        </div>
                                        <div class="col-sm">
                                            <input class="my-3" id="battery" placeholder="Battery Collection"
                                                   type="text">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <!-- Bottom btn -->
            <div class="row mt-3">
                <div class="col-sm-12 d-sm-flex justify-content-sm-center">
                    <button class="btn btn-lg btn-primary" style="min-width: 150px" type="submit">Check</button>
                </div>
            </div>
        </div>
    </div>
</div>