.item-hover {
    /*cursor: pointer;*/
}

.anim:hover {
    border-color: #007bff;
    transform: translateY(-0.2rem);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
}

.anim {
    transition: all 0.3s ease-in-out;
}