<div class="container mb-3">

    <!-- Outer -->
    <div class="row h-100 mx-4 p-4">
        <div class="col-sm-12">

            <!-- Title -->
            <div class="row mb-3">
                <div class="col-sm-12 d-sm-flex h3 justify-content-sm-center">
                    View inventory
                </div>
            </div>

            <!-- Body -->
            <div class="row mb-5">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <!-- Upper -->
                    <div class="row mb-2">
                        <!-- Left side -->
                        <div class="col-sm-6 d-sm-flex flex-sm-column">
                            <div class="row my-3">
                                <div class="col-sm" style="min-height: 30px">
                                    <label for="category">Select Category:</label>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-sm" style="min-height: 30px">
                                    <label for="subCate">Select Subcategory:</label>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-sm" style="min-height: 30px">
                                    Item name:
                                </div>
                            </div>
                        </div>

                        <!-- Right side -->
                        <div class="col-sm-6 d-sm-flex flex-sm-column">
                            <div class="row my-3">
                                <div class="col-sm d-sm-flex justify-content-sm-center">
                                    <select id="category" name="category" style="min-width: 173px">
                                        <option value="Electric">Electric</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-sm d-sm-flex justify-content-sm-center">
                                    <select id="subCate" name="subCate" style="min-width: 173px">
                                        <option value="Mobile">Mobile</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-sm d-sm-flex justify-content-sm-center">
                                    <input placeholder="Item Name" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Lower -->
                    <div class="row border border-primary rounded-lg" style="border-width: 2px !important;">
                        <!-- Left side -->
                        <div class="col-sm-6 d-sm-flex flex-sm-column">
                            <div class="row my-3">
                                <div class="col-sm" style="min-height: 30px">No. of sold:</div>
                            </div>
                            <div class="row my-3">
                                <div class="col-sm" style="min-height: 30px">No. of stock:</div>
                            </div>
                        </div>

                        <!-- Right side -->
                        <div class="col-sm-6 d-sm-flex flex-sm-column">
                            <div class="row my-3">
                                <div class="col-sm d-sm-flex justify-content-sm-center">
                                    <input readonly="readonly" type="text">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-sm d-sm-flex justify-content-sm-center">
                                    <input readonly="readonly" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <!-- Bottom btn -->
            <div class="row mt-3">
                <div class="col-sm-12 d-sm-flex justify-content-sm-center">
                    <button class="btn btn-lg btn-primary" style="min-width: 150px" type="submit">Check</button>
                </div>
            </div>
        </div>
    </div>
</div>