<div class="container-md mb-3">
    <div class="signin-form mb-3">
        <h1>Create your account</h1>
    </div>

    <form (ngSubmit)="signup()" [formGroup]="registerForm">

        <!-- Common fields -->
        <div class="signin-form border rounded-lg mb-3">

            <!-- Username -->
            <div class="form-group">
                <label class="required input-label" for="sign-name">Username</label>
                <input aria-describedby="username" class="form-control" formControlName="username" id="sign-name"
                       name="username" type="text" autocomplete="off">
            </div>
            <!-- Username validation-->
            <div [hidden]="registerForm.get('username').valid || registerForm.get('username').untouched"
                 class="form-group">
                <span [hidden]="!registerForm.hasError('required','username')" class="error-info">Username cannot be empty!</span>
                <span [hidden]="!registerForm.hasError('minlength','username')" class="error-info">Username must greater than 6</span>
            </div>

            <!--<div *ngIf="nameInput.touched&&nameInput.invalid" class="form-group">-->
            <!--    <span *ngIf="nameInput.errors?.required" class="error-info">Username cannot be empty!</span>-->
            <!--    <span *ngIf="nameInput.errors?.pattern" class="error-info">Username can only include alphanumeric</span>-->
            <!--</div>-->

            <!-- Password -->
            <div class="form-group" formGroupName="passwordGroup">
                <div class="form-group">
                    <label class="required input-label" for="password">Password</label>
                    <input class="form-control" formControlName="password" id="password" name="password"
                           type="password"/>
                </div>
                <!-- Password validation-->
                <!--<div [hidden]="registerForm.get('password').valid || registerForm.get('password').untouched"-->
                <!--     class="form-group">-->
                <!--    <span [hidden]="!registerForm.hasError('minlength',['passwordGroup','password'])"-->
                <!--          class="error-info">Username cannot be empty!</span>-->
                <!--    &lt;!&ndash;<span [hidden]="!registerForm.hasError('equal','passwordGroup') || this.registerForm.get('passwordGroup').get('pconfirm').untouched || registerForm.hasError('minlength',['passwordGroup','password'])"&ndash;&gt;-->
                <!--    &lt;!&ndash;      class="error-info">Username must greater than 6</span>&ndash;&gt;-->
                <!--</div>-->

                <div class="form-group">
                    <label class="required input-label" for="pconfirm">Confirm Password</label>
                    <input class="form-control" formControlName="pconfirm" id="pconfirm" name="pconfirm"
                           type="password">
                </div>
                <!-- Password validation-->
                <!--<div [hidden]="registerForm.get('password').valid || registerForm.get('password').untouched"-->
                <!--     class="form-group">-->
                <!--    <span [hidden]="!registerForm.hasError('required','username')" class="error-info">Username cannot be empty!</span>-->
                <!--    <span [hidden]="!registerForm.hasError('minlength','username')" class="error-info">Username must greater than 6</span>-->
                <!--</div>-->
            </div>

            <!--<div *ngIf="inputPassword.touched&&inputPassword.invalid" class="form-group">-->
            <!--    <span *ngIf="inputPassword.errors?.required" class="error-info">Password cannot be empty!</span>-->
            <!--    <span *ngIf="inputPassword.errors?.pattern"-->
            <!--          class="error-info">Password should contain only 6-18 alphabetic characters </span>-->
            <!--</div>-->

            <!-- Email -->
            <div class="form-group">
                <label class="required input-label" for="email">Email</label>
                <input class="form-control" id="email" type="email">
            </div>

            <!-- For buyer fields -->
            <!-- Mobile -->
            <div *ngIf="'buyer'===role" class="form-group">
                <label class="required input-label" for="mobile">Mobile</label>
                <input class="form-control" id="mobile" type="tel">
            </div>

            <!-- For seller fields-->
            <div *ngIf="'seller'===role">

                <!-- Individual name -->
                <div class="form-group">
                    <label class="required input-label" for="individual-name">Individual name</label>
                    <input class="form-control" id="individual-name" type="tel">
                </div>

                <!-- Company name -->
                <div class="form-group">
                    <label class="required input-label" for="company-name">Company name</label>
                    <input class="form-control" id="company-name" type="tel">
                </div>

                <!-- Postal address -->
                <div class="form-group">
                    <label class="required input-label" for="postal-address">Postal address</label>
                    <input class="form-control" id="postal-address" type="tel">
                </div>

                <!-- GSTIN -->
                <div class="form-group">
                    <label class="required input-label" for="gstin">GSTIN</label>
                    <input class="form-control" id="gstin" type="tel">
                </div>

                <!-- Bank detail -->
                <div class="form-group">
                    <label class="required input-label" for="bank-detail">Bank detail</label>
                    <input class="form-control" id="bank-detail" type="tel">
                </div>
            </div>

            <!-- Role selection radio -->
            <div class="form-group container form-check">
                <div class="row">
                    <div class="col">
                        <input [(ngModel)]="role" checked="checked" class="form-check-input" id="buyer"
                               name="role"
                               type="radio" value="buyer">
                        <label class="form-check-label" for="buyer">Buyer</label>
                    </div>
                    <div class="col">
                        <input [(ngModel)]="role" class="form-check-input" id="seller" name="role"
                               type="radio" value="seller">
                        <label class="form-check-label" for="seller">Seller</label>
                    </div>
                </div>
            </div>

            <!-- Create account link-->
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Create account</button>
            </div>
        </div>
    </form>

    <div class="signin-form border rounded-lg no-account">
        Already got an account? <a routerLink="/login">Sign in.</a>
    </div>
</div>
